<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Timetable Management System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body
            {
                background-image: url(background.jpg);
                background-repeat: no-repeat;
            }
            #heading
            {
                font-family: sans-serif;
                font-size: 90px;
                width:auto;
                text-align: center;
            }
            div
            {
                margin-left: 100px;
            }
        </style>
            
    </head>
    <body>
        <h1 id="heading">Timetable Management System</h1>
        <br><br><br><br><br><br>&nbsp;
        <div >
        <h2 style="font-size: 30px;"> 
            <b>Contact Timetable Administrator</b>
        </h2>
            <h1><a href="CV/Suyash/Suyash_CV.html">Suyash Khemka</a> : +917073352134<br>
                <a href="CV/Siddharth/Sid_CV.html">Siddharth Bhadri</a> : +917891533333
        </h1>
        <button><a href='Homepage.html'><b>Back To Home</b></a></button>
        </div>
        
    </body>
</html>
